@font-face {
  font-family: 'Soapbox i18n';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url('@fontsource/tajawal/files/tajawal-arabic-200-normal.woff2') format('woff2'), url('@fontsource/tajawal/files/tajawal-arabic-200-normal.woff') format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: 'Soapbox i18n';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('@fontsource/tajawal/files/tajawal-arabic-300-normal.woff2') format('woff2'), url('@fontsource/tajawal/files/tajawal-arabic-300-normal.woff') format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: 'Soapbox i18n';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('@fontsource/tajawal/files/tajawal-arabic-400-normal.woff2') format('woff2'), url('@fontsource/tajawal/files/tajawal-arabic-400-normal.woff') format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: 'Soapbox i18n';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('@fontsource/tajawal/files/tajawal-arabic-500-normal.woff2') format('woff2'), url('@fontsource/tajawal/files/tajawal-arabic-500-normal.woff') format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: 'Soapbox i18n';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('@fontsource/tajawal/files/tajawal-arabic-700-normal.woff2') format('woff2'), url('@fontsource/tajawal/files/tajawal-arabic-700-normal.woff') format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: 'Soapbox i18n';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('@fontsource/tajawal/files/tajawal-arabic-800-normal.woff2') format('woff2'), url('@fontsource/tajawal/files/tajawal-arabic-800-normal.woff') format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: 'Soapbox i18n';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url('@fontsource/tajawal/files/tajawal-arabic-900-normal.woff2') format('woff2'), url('@fontsource/tajawal/files/tajawal-arabic-900-normal.woff') format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}