/* noto-sans-javanese-javanese-400-normal */
@font-face {
  font-family: 'Soapbox i18n';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/noto-sans-javanese/files/noto-sans-javanese-javanese-400-normal.woff2) format('woff2'), url(@fontsource/noto-sans-javanese/files/noto-sans-javanese-javanese-400-normal.woff) format('woff');
}

/* noto-sans-javanese-javanese-500-normal */
@font-face {
  font-family: 'Soapbox i18n';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(@fontsource/noto-sans-javanese/files/noto-sans-javanese-javanese-500-normal.woff2) format('woff2'), url(@fontsource/noto-sans-javanese/files/noto-sans-javanese-javanese-500-normal.woff) format('woff');
}

/* noto-sans-javanese-javanese-600-normal */
@font-face {
  font-family: 'Soapbox i18n';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(@fontsource/noto-sans-javanese/files/noto-sans-javanese-javanese-600-normal.woff2) format('woff2'), url(@fontsource/noto-sans-javanese/files/noto-sans-javanese-javanese-600-normal.woff) format('woff');
}

/* noto-sans-javanese-javanese-700-normal */
@font-face {
  font-family: 'Soapbox i18n';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/noto-sans-javanese/files/noto-sans-javanese-javanese-700-normal.woff2) format('woff2'), url(@fontsource/noto-sans-javanese/files/noto-sans-javanese-javanese-700-normal.woff) format('woff');
}