.unapproved-account {
  padding: 15px 20px;
  font-size: 14px;
  display: flex;

  &__nickname {
    font-weight: bold;
  }

  &__actions {
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
    padding-left: 20px;

    .svg-icon {
      height: 24px;
      width: 24px;
    }
  }
}
