.display-name {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;

  bdi {
    min-width: 0;
  }
}

.display-name__account {
  position: relative;
  font-size: 14px;
  font-weight: 600;
}
